<p>The jwt is generating in backend not coming to frontend couldn;t figureout why the signup is working with bcrypt,Also tried the email verifications via link uploades as separate repo this.profile only backend; pls add email and password in nodemailer to test that </p>










<form [formGroup]="form" (submit)="submit()">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <input formControlName="email" type="email" class="form-control" placeholder="Email" required>

  <input formControlName="password" type="password" class="form-control" placeholder="Password" required>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
</form>
